#app {
    height: 100vh;
    text-align: center;
}

#logo {
    display: block;
    width: 50%;
    height: 50%;
    margin: auto;
    padding: 10% 0 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
}

.result {
    height: 20px;
    line-height: 20px;
    margin: 1.5rem auto;
}

.input-box .btn {
    width: 60px;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    border: none;
    margin: 0 0 0 20px;
    padding: 0 8px;
    cursor: pointer;
}

.input-box .btn:hover {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    color: #333333;
}

.input-box .input {
    border: none;
    border-radius: 3px;
    outline: none;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    background-color: rgba(240, 240, 240, 1);
    -webkit-font-smoothing: antialiased;
}

.input-box .input:hover {
    border: none;
    background-color: rgba(255, 255, 255, 1);
}

.input-box .input:focus {
    border: none;
    background-color: rgba(255, 255, 255, 1);
}

.chatbox {
    height: 70vh;
    width: 90vw;
    border: 1px solid lightgray;
    max-height: 70vh;
    overflow-y: scroll;
    background: black;
    overflow-x: clip;
}

.centeredTable {
    margin: auto;
}

.msgEven {
    background: #130217;
    text-align: left;
    padding: 10px;
}

.msgOdd {
    background: #4a0f58;
    text-align: left;
    padding: 10px;
}

.usernameSection {
    color: rgb(249, 204, 241);
}

.messageSection {
    color: white;
}

.sendBox {
    height: 10vh;
    width: 70vw;
    background: #0A0A0A;
    color: white;
}

.sendButton {
    background: linear-gradient(to bottom, pink, white);
    vertical-align: top;
    height: 11vh;
    margin-left: 10px;
    width: 15vw;
}

.logo {
    width: 33%;
}